<div ng-include="'top-menu.html'"></div>

<div uib-alert ng-class="'alert-info'"><h3>Now playing</h3><strong>Artist: </strong> {{vm.playbackDetailsAlert.artist}}<br/><strong>Title: </strong>{{vm.playbackDetailsAlert.title}}<br/><strong>Album: </strong>{{vm.playbackDetailsAlert.album}}</div>
<div uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)">{{alert.msg}}</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <nav class="panel-body">

                <p>
                    <button type="button" class="btn btn-default" title="Play random folder" ng-click="vm.playRandomFolder()"><i class="fa fa-random" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-default" title="Play this folder now" ng-if="vm.itemsInSelectedFolder.length > 0" ng-click="vm.playCurrentFolder()"><i class="fa fa-play-circle" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-default" title="Next" ng-click="vm.skipPrevious()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-default" title="Next" ng-click="vm.skipNext()"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                    <button type="button" class="btn btn-default pull-right" title="Update cache" ng-click="vm.refreshCache()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                </p>

                <ol class="breadcrumb">
                    <li ng-repeat="item in vm.breadcrumb" class="breadcrumb-item" ng-class="{active: $last==true}"><a href ng-if="!$last" ng-click="vm.selectBreadcrumb(item)">{{item.title}}</a><span ng-if="$last">{{item.title}}</span></li>
                </ol>

                <ul ng-if="vm.foldersInSelectedFolder" class="nav nav-pills nav-stacked">
                    <li ng-repeat="item in vm.foldersInSelectedFolder"><a href ng-click="vm.navigateDown(item.id)">{{item.title}}</a></li>
                </ul>

                <ul ng-if="vm.itemsInSelectedFolder" class="list-group">
                    <li class="list-group-item" ng-repeat="item in vm.itemsInSelectedFolder">{{item.title}}</li>
                </ul>
            </nav>
        </div>
    </div>
</div>
