html {
    height:100%;
}

body {
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-top: 60px;
    height:100%;
}

.tree {
    margin-left: -15px;
}